.header.active {
    background-color: #000;
}

.header.active .navbar-nav>li>a {
    color: transparent !important;
}

.logo-img {
    height: 30px;
}

.navbar-header {
    padding: 25px 0px;
}

.titulo-simulador {
    color: #71a;
    font-size: 300px;
    
}
.fade
{
        opacity:0.8;
        font-family: 'Roboto', sans-serif;
}
.fade:hover
{
        opacity:1;
}
.fader
{
        opacity:0.7;
}
.fader:hover
{
        opacity:1;
}
.faderr
{
        opacity:0.2;
}
.faderr:hover
{
        opacity:1;
}
.buttonn
{
        opacity:0.6;
        font-family: 'Scada', sans-serif;
}
.buttonn:hover
{
        opacity:1;
}
.pop-button
{
        opacity:0.6;
}
.pop-button:hover
{
        opacity:1;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    .fadeIn {
        -webkit-animation: fadeIn 3s ease-in-out;
        -moz-animation: fadeIn 3s ease-in-out;
        -o-animation: fadeIn 3s ease-in-out;
        animation: fadeIn 3s ease-in-out;
        }
        .fonts{
            font-family: 'Roboto', sans-serif;
}
        .foto{

            src="img/telaparafooter.jpg"
        }
        #imagemtopo{
         
            
            position: absolute;
        }